---
import Layout from '../layouts/Layout.astro';
import CounterCard from '../components/CounterCard';
---

<Layout>
	<main>
		<CounterCard client:load />
	</main>
</Layout>

<style>
	main {
		min-height: 100vh;
		display: grid;
		place-items: center;
		padding: 2rem;
	}
</style>
